@media (max-width: 992px) {
  footer {
    justify-content: center;

    .footer {
      padding: 15px;
      display: flex;
      align-items: center;

      .footer__content {
        padding-right: 15px;
      }
    }
  }
}

@media (min-width: 320px) {
  footer {
    .footer {
      .footer__content {
        padding-left: 24px;

        h6 {
          padding-top: 44px;
        }

        h5 {
          padding-top: 24px;
        }
      }
    }
  }

}

@media (min-width: 768px) {
  footer {
    .footer {
      .footer__content {
        .footer__content__address {
          display: flex;
          flex-direction: row;

          //.footer__content__address__block {
          //  width: 50%;
          //}

          .footer__content__address__block:first-child {
            margin-right: 10px;
          }
        }
      }
    }
  }
}