.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .form__content {
    padding: 72px 0 48px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;

    .form__content__heading {
      h2 {
        a {
          color: $colour_active;
        }
      }
    }
  }
  .form__input {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .input-group {
    margin-left: 16px;
    width: 312px;
  }
}

.form-control:focus {
  box-shadow: none;
  border-color: grey;
}

.form-control {
  border-radius: 0;
  color: gray;
  background-color: $bg_colour;
  width: 312px;
  height: 48px;
  margin-left: 16px;
}

.btn-outline-secondary {
  background-color: $bg_colour;
}

.btn-check:active+.btn-outline-secondary:focus,
.btn-check:active,
.btn-outline-secondary,
.btn-check:checked,
.btn-check:checked+.btn-outline-secondary:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus,
.btn-outline-secondary:active:focus,
.input-group:not(.has-validation)>.dropdown-toggle:nth-last-child(n+3),
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu){
  box-shadow: none;
  background-color: $bg_colour;
  color: grey;
  border-radius: 0;
  border-color: grey;
}

.textarea textarea {
  resize: none;
  width: 640px;
  height: 96px;
  padding-bottom: 24px;
  justify-content: center;

}