.container {
  max-width: 1088px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

body {
  background: linear-gradient(180deg, #FFFFFF 0%, #E6EDFA 100%);
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
}

h1 {
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 0.01em;
  text-align: center;
}

h2 {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0.01em;
  text-align: center;
}

h3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 34px;
  letter-spacing: 0;
  text-align: center;
}

h5 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.01em;
  text-align: left;

}

p {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
}

@media (min-width: 320px) {
  h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0.01em;
    text-align: center;
  }

  h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.01em;
    text-align: center;
  }

  h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
  }

  p {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 72px;
    letter-spacing: 0.01em;
    text-align: center;
  }

  h2 {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: 0.01em;
    text-align: center;
  }

  h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0;
    text-align: left;
  }

  p {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;

  }
}